.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1c2b35;
  color: white;
  padding: 10px 7px;
  position: fixed;
  z-index: 1111;
}
.manu-list a{
 text-decoration: none;
 color: white;
 margin: 0 15px;
}
.logo{
  margin-left: 15px;
}